{{define "cp_ticket_view"}}

{{template "cp_head" .}}

<div class="page-header">
    <h2>Ticket - {{ .Ticket.LocalID }}</h2>
</div>

{{template "cp_alerts" .}}


<div class="row">
    <div class="col-lg-12">
        <h4>{{ .Ticket.Title }}</h4>
        <h5>{{ .Ticket.Question}}</h5>
    </div>
    <div class="col-lg-12">
        <div id="log-container"></div>
    </div>
</div>


<script>
    const logContainer = document.querySelector("#log-container")
    let transcriptEl = document.createElement("p");

    let logs = {{ .Ticket.Logs }};
    let explodedLogs = logs.split('[');
    let transcriptInfo = explodedLogs[0]
    let messages = []
    let oldAuthor = ""

    explodedLogs.shift()
    transcriptEl.innerHTML = transcriptInfo;
    logContainer.appendChild(transcriptEl)

    explodedLogs.forEach((explodedLog) => {
        const para = document.createElement("p");
        const splitLog = explodedLog.split(': ')
        const author = splitLog[0].split('] ')[1]

        let message = splitLog[1]

        if (splitLog.length > 2) {
            splitLog.forEach((log, key) => {
                if (key > 1) {
                    message += ": " + log
                }
            })
        }

        if (message !== "\n") {
            if (author.split(" (")[0] !== oldAuthor) {
                oldAuthor = author.split(" (")[0]
                para.innerHTML = "<div style='font-weight: bold; margin-top: 8px'>" + oldAuthor + "</div>"
            }

            para.innerHTML += message;
            para.style = 'margin-bottom: 0;'
            logContainer.appendChild(para)
        }
    })
</script>
{{template "cp_footer" .}}

{{end}}